.event-container {
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgray;

    img {
        width: 100%;
    }

    p, h3 {
        padding: 1rem;
    }

    a {
        margin: 1rem;
    }

    a:hover {
        color: deepskyblue;
    }
}